/* Error: Undefined mixin.
 *    ,
 * 16 |   @include centered;
 *    |   ^^^^^^^^^^^^^^^^^
 *    '
 *   scss/input.scss 16:3             @content
 *   scss/utilities/_mixins.scss 7:1  media768()
 *   scss/input.scss 10:1             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 16 \2502    @include centered;\a    \2502    ^^^^^^^^^^^^^^^^^\a    \2575 \a   scss/input.scss 16:3             @content\a   scss/utilities/_mixins.scss 7:1  media768()\a   scss/input.scss 10:1             root stylesheet";
}
