/* Error: Undefined mixin.
 *     ,
 * 273 |   @include flex-drct-row;
 *     |   ^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   scss/input.scss 273:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 273 \2502    @include flex-drct-row;\a     \2502    ^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   scss/input.scss 273:3  root stylesheet";
}
