/*import*/

@import 'styles';


/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

@media (min-width:$mediaquery768){



.container {
  max-width: 1400px;
  @include centered;
}

.centered {
  @include centered;
}

.row {
  @include flex-drct-row;
}


[class^=col] {
  display: flex;
  justify-content: center;
  margin-top: 0;
  align-items: center;
}

[class^=col] + [class^=col] {
  margin-left: 10px;
}

@include column;


.nav {
  @include flex-drct-row;
  justify-content: flex-end;
  align-items: center;

  &-link {
    flex-basis: 100px;
  }
}

.btn{
& {
  padding: 10px 30px;
  & + & {
    margin-left: 10px;
  }
}


}
.logo {
  margin-left: initial;
  margin-right: initial;
}
