@mixin media768($mediaquery768)
{

  @media (min-width:$mediaquery768)
  {

@content;
}
}

@mixin flex-drct-row {

flex-direction: row;
}

@mixin hover {

  &:hover{
background-color: $button-light;
transition: 1s;

  }
}
